html {
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #fff;
  font-family: $font-family;
  background-color: $main-color;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.app {
  padding-top: 2.6rem;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title {
  color: $title-color;
  line-height: 64px;
}

.description {
  font-size: 1.8rem;
  color: $font-color;
}

.form-control {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 15px;
  background: $form-color;
  border: 1px solid #252c32;
  height: 64px;
  .icon-wrap {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  .input-control {
    width: 100%;
    margin-right: 15px;
    background: #283036;
    outline: none;
    border: none;
    color: #7a7f82;
    font-family: "Poppins", sans-serif;
  }
}

.tool {
  @extend %main-transition;
  position: relative;
  padding: 33px;
  border-radius: 15px;
  border: 1px solid transparent;
  max-width: 392px;
  margin-bottom: 100px;
  width: 32%;

  &__top {
    display: flex;
    margin-bottom: 30px;
    .tool__pic {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
    }
    .tool__desc {
      .tool__name {
        color: $tool-title-color;
        font-size: 24px;
        margin-bottom: 3px;
      }
      .tool_plan {
        color: $tool-plan-color;
        font-size: 1.8rem;
      }
    }
  }
  &__center {
    color: $tool-desc-color;
    margin-bottom: 30px;
  }
  &__bottom {
    display: flex;
    .heart-wrap,
    .folder-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border-radius: 8px;
    }
    .heart-wrap {
      margin-right: 12px;
    }
  }

  &-active {
    border-color: #293036;
    top: -20px;
    background: rgba(40, 48, 54, 0.6);
    background: radial-gradient(
      circle closest-side at 360px 42px,
      rgb(62, 52, 50) 52%,
      rgb(36, 44, 50) 255%
    );
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.3);
    .tool__top {
      .tool__name {
        color: #e9eaea;
      }
      .tool_plan {
        color: #ffa537;
      }
    }
    .tool__center {
      color: #ffffffc7;
    }
    .tool__bottom {
      .heart-wrap {
        box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.3);
        path {
          fill: #fd3b41;
          fill-opacity: 1;
        }
      }
      .button-visit {
        background: #ff6e30;
        color: #fff;
      }
    }
  }
}
