html {
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #fff;
  font-family: $font-family;
  background-color: $main-color;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.app {
  padding-top: 2.6rem;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.title {
  color: $title-color;
  line-height: 64px;
}

.description {
  font-size: 1.8rem;
  color: $font-color;
}

.form-control {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 15px;
  background: $form-color;
  border: 1px solid #252c32;
  height: 64px;
  .icon-wrap {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  .input-control {
    width: 100%;
    margin-right: 15px;
    background: #283036;
    outline: none;
    border: none;
    color: #837a93;
    font-family: "Poppins", sans-serif;
  }
}
