html {
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #fff;
  font-family: $font-family;
  background-color: $main-color;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.app {
  padding-top: 2.6rem;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title {
  color: $title-color;
  line-height: 64px;
}

.description {
  font-size: 1.8rem;
  color: $font-color;
}

.form-control {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 15px;
  background: $form-color;
  border: 1px solid #252c32;
  height: 64px;
  .icon-wrap {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  .input-control {
    width: 100%;
    margin-right: 15px;
    background: #283036;
    outline: none;
    border: none;
    color: #7a7f82;
    font-family: "Poppins", sans-serif;
  }
}

.tool {
  @extend %main-transition;
  position: relative;
  padding: 33px;
  border-radius: 15px;
  border: 1px solid transparent;
  max-width: 392px;
  margin-bottom: 100px;
  width: 32%;

  &__top {
    display: flex;
    margin-bottom: 30px;
    .tool__pic {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
    }
    .tool__desc {
      .tool__name {
        color: $tool-title-color;
        font-size: 24px;
        margin-bottom: 3px;
      }
      .tool_plan {
        color: $tool-plan-color;
        font-size: 1.8rem;
      }
    }
  }
  &__center {
    color: $tool-desc-color;
    margin-bottom: 30px;
  }
  &__bottom {
    display: flex;
    .heart-wrap,
    .folder-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border-radius: 8px;
    }
    .heart-wrap {
      margin-right: 12px;
    }
  }

  &-active {
    border-color: #293036;
    top: -20px;
    background: rgba(40, 48, 54, 0.6);
    background: radial-gradient(
      circle closest-side at 360px 42px,
      rgb(62, 52, 50) 52%,
      rgb(36, 44, 50) 255%
    );
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.3);
    .tool__top {
      .tool__name {
        color: #e9eaea;
      }
      .tool_plan {
        color: #ffa537;
      }
    }
    .tool__center {
      color: #ffffffc7;
    }
    .tool__bottom {
      .heart-wrap {
        box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.3);
        path {
          fill: #fd3b41;
          fill-opacity: 1;
        }
      }
      .button-visit {
        background: #ff6e30;
        color: #fff;
      }
    }
  }
}

.footer {
  margin-top: 240px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 70px;
  padding-bottom: 98px;
  margin-right: -20px;
  margin-left: -20px;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    .footer__start {
      width: 260px;
      display: flex;
      flex-direction: column;
      .logo-container {
        margin-bottom: 25px;
      }
      .footer__copy {
        color: #e8e9ea;
        font-weight: 500;
        margin-bottom: 21px;
      }
      .footer__desc {
        font-size: 14px;
        line-height: 25px;
        color: #ffffff8c;
      }
    }
  }
}

.column-card {
  max-width: 197px;
  display: flex;
  flex-direction: column;
  .column-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #ffffffe5;
  }
  .column-item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .column-link {
      color: #ffffff8c;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 200px;
  transform: translateX(-50%);
  border-radius: 8px;
  background: #232b32;
  box-shadow: 0px 5px 10px -3px rgb(18 18 18 / 30%);
  margin-top: 7px;
  z-index: 1;
  animation: show-dropdown 0.5s ease;
  &-hidden {
    animation: hide-dropdown 0.7s ease;
  }
  &__item {
    border-bottom: 1px solid #1e1d1d;
    overflow: hidden;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      border-radius: 8px 8px 0 0;
    }
    &:last-child {
      border-radius: 0 0 8px 8px;
    }
    .dropdown__link {
      @extend %main-transition;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #ffffff8c;
      padding: 5px;
      &:hover {
        background: #283138;
        color: #fff;
        transform: scale(1.1);
        will-change: transform;
      }
    }
  }
}
