@keyframes show-dropdown {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@keyframes hide-dropdown {
  0% {
    opacity: 1;
    top: 100%;
  }
  100% {
    opacity: 0;
    top: -10px;
  }
}

@keyframes scaleHeart {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0px 0px 7px 7px rgb(238, 236, 236);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tool-card {
  0% {
    top: 0;
  }
  50% {
    top: -60px;
  }
  100% {
    top: -20px;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
