$main-color: #1e252b;
$button-color: #ff6e30;
$title-color: #ffffffe5;
$font-color: #ffffff8c;
$form-color: #283036;

$font-family: "Poppins", sans-serif;

$content-width: 1224px;
$title-size: 48px;
