.companies {
  margin-bottom: 200px;
}

.companies__wrap {
  padding: 55px 83px;
  background: rgba(44, 53, 61, 0.2);
  border-radius: 25px;
  border: 1px solid #374450;
  .companies__title {
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffffcc;
    text-align: center;
  }
  .companies__list {
    display: flex;
    justify-content: space-between;
  }
}
