.contributor {
  .contributor-wrap {
    align-items: center;
    max-width: 553px;
    margin: auto;
    .description {
      max-width: 427px;
      margin: auto;
      margin-bottom: 100px;
    }
    .form-control {
      width: 549px;
    }
  }
}
