.popular-tools {
  margin-bottom: 200px;
  .title {
    margin-bottom: 25px;
  }
  .description {
    margin: 0 auto;
    margin-bottom: 90px;
  }
}

.tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tools-buttons {
  display: flex;
  justify-content: center;
}
